.section{
    background: url("assets/img/cool-background\ .png") no-repeat ;
    background-size: cover;
}

/**
.SectionContainer {
    background: -webkit-linear-gradient(#00FF00, #33FFFF); 
    background: -o-linear-gradient(#00FF00, #33FFFF); 
    background: -moz-linear-gradient(#00FF00, #33FFFF); 
    background: linear-gradient(#00FF00, #33FFFF);
  }
  */